<div class="application">
  <navbar
    class="application__navbar"
    (onToggleClick)="toggleSidenavClass()"
  ></navbar>

  <div class="application__content">
    <sidenav-menu
      #sidenav
      class="application__sidenav application__sidenav--opened"
    ></sidenav-menu>
    <div
      #mainContent
      class="application__main-content application__main-content--partial"
    >
      <div class="application__router-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <notifications class="application__notifications">
  </notifications>
</div>
