<div class="search">

  <div class="search__tags">
    <div class="search__tags-title">Tags</div>
    <div class="search__tags-list">
      <div class="search__tag">
        <md-icon class="search__tag-icon">label</md-icon>
        <div class="search__tag-name">School</div>
      </div>
      <div class="search__tag">
        <md-icon class="search__tag-icon">label</md-icon>
        <div class="search__tag-name">my notes</div>
      </div>
      <div class="search__tag">
        <md-icon class="search__tag-icon">label</md-icon>
        <div class="search__tag-name">Office</div>
      </div>
      <div class="search__tag">
        <md-icon class="search__tag-icon">label</md-icon>
        <div class="search__tag-name">School</div>
      </div>
      <div class="search__tag">
        <md-icon class="search__tag-icon">label</md-icon>
        <div class="search__tag-name">my notes</div>
      </div>
      <div class="search__tag">
        <md-icon class="search__tag-icon">label</md-icon>
        <div class="search__tag-name">Office</div>
      </div>
    </div>
  </div>

</div>
