.navbar {
  width: 100%;
  transition: background-color 0.5s ease;

  &__search-bar {
    background-color: rgba(255,255,255,0.16);
    transition: background-color 0.5s ease;
    width: 700px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    align-items: center;

    &--active {
      background: white;
      color: black;
    }
  }

  &__input {
    flex: 1;
    height: 80%;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 10px 0;
  }

  &__icon {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    cursor: pointer;
    user-select: none;
  }

  &__toggle-icon {
    border-radius: 50%;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  &__app-title {
    width: 175px;
    display: inline-block;
    margin: 0 20px;
  }

  &--notes {
    background-color: #3498db;
  }

  &--reminders {
    background-color: #9b59b6;
  }

  &--calendar {
    background-color: #2b71b1;
  }

  &--tags {
    background-color: #a214e9;
  }

  &--search {
    background-color: #3e50b4;
  }

  &--archive {
    background-color: #34495e;
  }

  &--trash {
    background-color: #95a5a6;
    color: black;
  }

  ::-webkit-input-placeholder {
    color: #ddd;
  }
  ::-moz-placeholder {
    color: #ddd;
  }
  :-ms-input-placeholder {
    color: #ddd;
  }
  :-moz-placeholder {
    color: #ddd;
  }

}
