<div class="icons-bar">
  <mat-icon
    class="icons-bar__icon"
    matTooltip="Reminde me"
    #reminderMenuTrigger="matMenuTrigger"
    [matMenuTriggerFor]="reminderMenu"
  >
    av_timer
  </mat-icon>
  <mat-icon
    class="icons-bar__icon"
    matTooltip="Change color"
    #paletteMenuTrigger="matMenuTrigger"
    [matMenuTriggerFor]="paletteMenu"
  >
    palette
  </mat-icon>
  <mat-icon
    class="icons-bar__icon"
    matTooltip="Select tags"
    #tagsMenuTrigger="matMenuTrigger"
    [matMenuTriggerFor]="tagsMenu"
  >
    label
  </mat-icon>

  <mat-menu #reminderMenu="matMenu">
    <div class="icons-bar__menu" (click)="onMenuClick($event)">
      <div class="icons-bar__menu-title">Reminder:</div>
      <div class="icons-bar__menu-divider"></div>
      <div class="icons-bar__menu-items-list">
        <div
          *ngFor="let date of dateOptions"
          (click)="setReminder(date)"
          class="icons-bar__menu-item icons-bar__menu-item--date"
        >
          <span>{{date.day}}</span>
          <span>{{date.time}}</span>
        </div>
      </div>
    </div>
  </mat-menu>

  <mat-menu #paletteMenu="matMenu">
    <div class="icons-bar__palette" (click)="onMenuClick($event)">
      <div
        *ngFor="let color of colors"
        (click)="setColor(color)"
        class="icons-bar__palette-color"
        [ngClass]="getClassFromColor(color)"
      >
        <mat-icon *ngIf="currentColor === color">done</mat-icon>
      </div>
    </div>
  </mat-menu>

  <mat-menu #tagsMenu="matMenu">
    <div class="icons-bar__menu" (click)="onMenuClick($event)">
      <div class="icons-bar__menu-title">Edit tags for note:</div>
      <div class="icons-bar__menu-divider"></div>
      <div class="icons-bar__menu-items-list">
        <div *ngFor="let tag of tags" class="icons-bar__menu-item">
          <mat-checkbox
            [checked]="isTagSelected(tag)"
            (change)="handleTagSelection(tag)"
          >
            {{tag.name}}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </mat-menu>

</div>
