.sidenav-menu {
  &__entry {
    height: 46px;
    padding-left: 24px;
    transition: background-color 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background-color: rgba(0,0,0,.03);
    }
  }

  &__entry-title {
    padding-left: 20px;
  }

  &__section {
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
  }

  &__add-tag-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 24px;
    height: 46px;
  }
}
