<div class="notes">
  <md-spinner
    *ngIf="loading"
    class="notes__loading-spinner"
  ></md-spinner>

  <div *ngIf="!loading && notes.length" class="notes__note-list-wrapper">
    <div
      *ngFor="let note of notes"
      class="notes__note"
    >
      <div class="notes__note-title">
        {{note.title}}
      </div>
      <div class="notes__note-post">
        {{note.post}}
      </div>
      <div class="notes__icons">
        <md-icon class="example-icon" mdTooltip="Delete note" (click)="deleteNote(note.id)">
          delete
        </md-icon>
      </div>
    </div>
  </div>

  <placeholder
    *ngIf="!loading && !notes.length"
    [placeholderType]="'notes'"
  ></placeholder>

</div>
