<div class="notes">
  <add-note
    *ngIf="canShowAddNoteComponent"
  ></add-note>

  <loading-spinner
    *ngIf="loading"
  ></loading-spinner>

  <note-canvas
    *ngIf="!loading && notes.length"
    [notes]="notes"
  ></note-canvas>

  <!--<mat-icon [dropdown]="sideBar">-->
    <!--palette-->
  <!--</mat-icon>-->

  <!--<dropdown #sideBar>-->
    <!--<div>-->
      <!--<div>Elem 1</div>-->
      <!--<div>Elem 2</div>-->
      <!--<div>Elem 3</div>-->
    <!--</div>-->
  <!--</dropdown>-->

  <placeholder
    *ngIf="!loading && !notes.length"
    [placeholderType]="notesType"
  ></placeholder>
</div>
