<div class="icons-bar">
  <md-icon
    class="icons-bar__icon"
    mdTooltip="Reminde me"
    #reminderMenuTrigger="mdMenuTrigger"
    [mdMenuTriggerFor]="reminderMenu"
  >
    av_timer
  </md-icon>
  <md-icon
    class="icons-bar__icon"
    mdTooltip="Change color"
    #paletteMenuTrigger="mdMenuTrigger"
    [mdMenuTriggerFor]="paletteMenu"
  >
    palette
  </md-icon>
  <md-icon
    class="icons-bar__icon"
    mdTooltip="Select tags"
    #tagsMenuTrigger="mdMenuTrigger"
    [mdMenuTriggerFor]="tagsMenu"
  >
    label
  </md-icon>

  <md-menu #reminderMenu="mdMenu">
    <div class="icons-bar__menu" (click)="onMenuClick($event)">
      <div class="icons-bar__menu-title">Reminder:</div>
      <div class="icons-bar__menu-divider"></div>
      <div class="icons-bar__menu-items-list">
        <div
          *ngFor="let date of dateOptions"
          (click)="setReminder(date)"
          class="icons-bar__menu-item icons-bar__menu-item--date"
        >
          <span>{{date.day}}</span>
          <span>{{date.time}}</span>
        </div>
      </div>
    </div>
  </md-menu>

  <md-menu #paletteMenu="mdMenu">
    <div class="icons-bar__palette" (click)="onMenuClick($event)">
      <div
        *ngFor="let color of colors"
        (click)="setColor(color)"
        class="icons-bar__palette-color"
        [ngClass]="getClassFromColor(color)"
      >
        <md-icon *ngIf="currentColor === color">done</md-icon>
      </div>
    </div>
  </md-menu>

  <md-menu #tagsMenu="mdMenu">
    <div class="icons-bar__menu" (click)="onMenuClick($event)">
      <div class="icons-bar__menu-title">Edit tags for note:</div>
      <div class="icons-bar__menu-divider"></div>
      <div class="icons-bar__menu-items-list">
        <div *ngFor="let tag of tags" class="icons-bar__menu-item">
          <md-checkbox
            [checked]="isTagSelected(tag)"
            (change)="handleTagSelection(tag)"
          >
            {{tag.name}}
          </md-checkbox>
        </div>
      </div>
    </div>
  </md-menu>

</div>
