<div class="add-note" [ngClass]="addNoteClass">
  <div
    *ngIf="!isAddingNewNote"
    class="add-note__placeholder"
  >
    Create new note...
  </div>

  <div
    *ngIf="isAddingNewNote"
    class="add-note__form-wrapper"
  >
    <input
      [(ngModel)]="title"
      class="add-note__form-field add-note__title"
      placeholder="Title"
    />
    <textarea
      #textbox
      placeholder="Create new note..."
      class="add-note__form-field add-note__note"
      [(ngModel)]="post"
      (keyup)="adjustTextarea($event)"
    ></textarea>

    <div class="add-note__footer">
      <div class="add-note__icons">
        <md-icon
          class="add-note__icon"
          mdTooltip="Reminde me"
        >
          av_timer
        </md-icon>
        <md-icon
          class="add-note__icon"
          mdTooltip="Change color"
          #paletteMenuTrigger="mdMenuTrigger"
          [mdMenuTriggerFor]="paletteMenu"
        >
          palette
        </md-icon>
      </div>

      <md-menu #paletteMenu="mdMenu">
        <div class="add-note__palette" (click)="onMenuClick($event)">
          <div
            *ngFor="let color of colors"
            (click)="setColor($event, color)"
            class="add-note__palette-color"
            [ngClass]="getClassFromColor(color)"
          >
            <md-icon *ngIf="currentColor === color">done</md-icon>
          </div>
        </div>
      </md-menu>

      <button
        (click)="addNewNote()"
        md-raised-button
      >
        Add
      </button>
    </div>
  </div>
</div>
