<div class="add-note" [ngClass]="addNoteClass">
  <div
    *ngIf="!isAddingNewNote"
    class="add-note__placeholder"
  >
    Create new note...
  </div>

  <div
    *ngIf="isAddingNewNote"
    class="add-note__form-wrapper"
  >

    <input
      [(ngModel)]="title"
      class="add-note__form-field add-note__title"
      placeholder="Title"
    />

    <textarea
      #textbox
      placeholder="Create new note..."
      class="add-note__form-field add-note__note"
      [(ngModel)]="post"
      (keyup)="adjustTextarea($event)"
    ></textarea>

    <selected-tags-bar
      [selectedTags]="selectedTags"
    ></selected-tags-bar>

    <div class="add-note__footer">
      <icons-bar
        [currentColor]="currentColor"
        [reminder]="reminder"
        [selectedTags]="selectedTags"
        [isTagSelected]="isTagSelected"
        (onColorSelect)="setColor($event, color)"
        (onReminderSelect)="setReminder($event, reminder)"
        (onTagSelect)="handleTagSelection($event, tag)"
      ></icons-bar>

      <button
        (click)="addNewNote()"
        [disabled]="!post"
        md-raised-button
      >
        Add
      </button>
    </div>

    <reminder-bar
      *ngIf="reminder"
      [reminder]="reminder"
      (onDeleteClick)="removeReminder($event)"
    ></reminder-bar>

  </div>
</div>
