<div class="login">
  <div class="login__form">
    <div class="login__logo-section">
      <span>My notes logo</span>
    </div>

    <login-form
      *ngIf="mode === 'login'"
    ></login-form>

    <register-form
      *ngIf="mode === 'register'"
    ></register-form>

    <password-forgot-form
      *ngIf="mode === 'password-forgot'"
    ></password-forgot-form>

    <registration-complete-form
      *ngIf="mode === 'registration-complete'"
    ></registration-complete-form>

  </div>
</div>
