<div class="tag-row">
  <div class="tag-row__row" *ngIf="!condition">
    <mat-icon *ngIf="type === 'add'" class="tag-row__icon" matTooltip="Create new tag" (click)="enableEditing()">
      add
    </mat-icon>
    <mat-icon
      *ngIf="type === 'edit'"
      class="tag-row__icon tag-row__icon-label"
    >
      label
    </mat-icon>
    <mat-icon
      *ngIf="type === 'edit'"
      (click)="deleteTag(id)"
      class="tag-row__icon tag-row__icon-delete"
      matTooltip="Delete"
    >
      delete
    </mat-icon>
    <div class="tag-row__tag-title" (click)="enableEditing()">
      {{label}}
    </div>
    <mat-icon *ngIf="type === 'edit'" matTooltip="Change tag" (click)="enableEditing()">mode_edit</mat-icon>
  </div>

  <div class="tag-row__row" *ngIf="condition">
    <mat-icon class="tag-row__icon" [matTooltip]="editedTagTooltip" (click)="inputIconClick()">
      {{editedTagIcon}}
    </mat-icon>
    <input
      class="tag-row__input"
      [placeholder]="placeholder"
      [(ngModel)]="tag"
      [focus]="true"
    />
    <mat-icon matTooltip="Accept" *ngIf="tag" (click)="acceptClick()">
      check
    </mat-icon>
  </div>
</div>
