<div [ngClass]="getCssClasses()" class="note">

  <div class="note__selection-tick" mdTooltip="Add to selection" (click)="handleSelection(note.id)">
    <md-icon class="note__selection-icon">done</md-icon>
  </div>

  <div class="note__title" *ngIf="note.title">
    {{note.title}}
  </div>

  <div class="note__post" [innerHTML]="note.post"></div>

  <selected-tags-bar
    [selectedTags]="note.tags"
  ></selected-tags-bar>

  <div class="note__icons">
    <icons-bar
      [currentColor]="note.color"
      [reminder]="note.reminder"
      [selectedTags]="note.tags"
      [isTagSelected]="isTagSelected"
      (onColorSelect)="setColor($event, color)"
      (onReminderSelect)="setReminder($event, reminder)"
      (onTagSelect)="handleTagSelection($event, tag)"
    ></icons-bar>

    <md-icon mdTooltip="Delete note" (click)="deleteNote(note.id)">
      delete
    </md-icon>
  </div>

  <reminder-bar
    *ngIf="note.reminder"
    [reminder]="note.reminder"
    (onDeleteClick)="removeReminder()"
  ></reminder-bar>

</div>
